

.container {
    margin: 0 30px;
    font-family: "montserratregular",Helvetica,Arial,sans-serif;
    align-items: center;
}

.chart {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: repeat(5, auto);
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgray;
    margin-bottom: 10px;
}

.chart div {
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.grid-item {
    padding: 20px;
}

.specs {
    margin-top: 45px;
    margin-bottom: 30px;
}

ul {
    margin-left: 80px;
}

li {
    margin-bottom: 10px;
}

.header3 {
    margin-top: 60px;
}